<% include partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Benvenuto in YelpCamp!</h1>
      <p>
        Guarda i campeggi selezionati da tutto il mondo!
      </p>
      <p>
        <a class='btn btn-primary btn-large' href='/campeggi/new'>Aggiungi un Nuovo Campeggio</a>
      </p>
    </div>
  </header>
  
  <div class="row">
    <div class="col-lg-12">
      <h3>
        I Nostri Campeggi Popolari!
      </h3>
    </div>
  </div>
  
  <div class="row text-center" style='display:flex; flex-wrap: wrap;'>
    <% campeggi.forEach(function(campeggio){ %>
      <div class="col-md-3 col-sm-6">  
        <div class="thumbnail">
          <img src='<%= campeggio.immagine  %>'>
          <div class="caption">
            <h4>
              <%= campeggio.nome %>
            </h4>
          </div>
          <p>
            <a href='/campeggi/<%= campeggio._id  %>' class='btn btn-primary'>Maggiori Info</a>
          </p>
        </div>
      </div>
    <% }); %>
  </div>

</div>

<% include partials/footer %>