<% include partials/header %>

<div class="container">
  <div class="row">
    <h1 style='text-align: center;'>Crea un Nuovo Campeggio</h1>
    <div style='width: 30%; margin: 25px auto;'>
      <form action='/campeggi' method='POST'>
        <div class="form-group">
          <input class='form-control' type='text' name='nome' placeholder='nome'>
        </div>
        <div class="form-group">
          <input class='form-control' type='text' name='immagine' placeholder='url immagine'>
        </div>
        <div class="form-group">
          <input class='form-control' type='text' name='descrizione' placeholder='descrizione'>
        </div>
        <div class="form-group">
          <button class='btn btn-lg btn-primary btn-block'>Submit!</button>
        </div>
      </form>
      <a href='/campeggi'>Torna Indietro</a>
    </div>
  </div>

</div>

<% include partials/footer %>
